@use "sass:meta";
/* Import uni-core components */
@import url("./uni-core.min.css");

/* Import additional styles */
@import url("./unicons.min.css");
@import url("./prettify.min.css");
@import url("./swiper-bundle.min.css");

/* Import main style */
@import url("./theme/main.min.purge.css");

@include meta.load-css("theme/theme-three.min.purge.scss");
@include meta.load-css("theme/theme-four.min.purge.scss");
@include meta.load-css("theme/theme-five.min.purge.scss");
@include meta.load-css("theme/theme-six.min.purge.scss");

// for dev

.leaflet-control-attribution {
    display: none !important;
}

.leaflet-popup-content-wrapper {
    background: none !important;
    box-shadow: none !important;
}

.leaflet-popup-content {
    margin: 0px !important;
}

.leaflet-popup-close-button {
    display: none !important;
}

@keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .marquee-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }
  
  .marquee-text {
    display: inline-block;
    animation: marquee 15s linear infinite;
  }
  
  // .swiper-container {
  //   position: relative;
  //   padding-bottom: 40px; /* Extra space for pagination */
  // }
  
  /* Pagination Container */
  .custom-pagination {
    position: relative;
    margin-top: 30px; /* Space between Swiper and pagination */
    display: flex;
    justify-content: center;
    gap: 8px; /* Even spacing for dots */
  }
  
  .custom-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .custom-pagination .swiper-pagination-bullet-active {
    background-color: #5b55ff;
    transform: scale(1.3); /* Slightly larger active dot */
    box-shadow: 0 0 5px rgba(91, 85, 255, 0.5);
  }
  